.budget {
  /* has to change to grid */
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  /* grid-auto-rows: 400px; */
  justify-content: center;
  justify-items: center;
  align-items: flex-start;
  width: 100%;
  column-gap: 50px;
  row-gap: 50px;
}

.budget__button {
  background: none;
  background-image: url(./../../assets/AddIcon.svg);
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  align-self: center;
}

/* .budget__text {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.1rem;
  color: #111;
  text-align: center;
} */

.budget__total {
  align-self: center;
}

.budget__total h2 {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.1rem;
  color: #111;
  text-align: center;
}

.budget__total span {
  display: block;
}
