.container {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 425px;
  justify-content: space-between;
}
.container__header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 100%;
  gap: 15px;
}

.container__buttons {
  height: 25px;
  display: flex;
  justify-content: space-around;
}

.container__button {
  cursor: pointer;
  border: none;
  width: 24px;
  height: 24px;
  border-radius: 12.5px;
  background: none;
}

.container__button--rename {
  background: url(./../../assets/EditFieldIcon.svg);
}

.container__button--edit {
  background: url(./../../assets/EditContainerIcon.svg);
}

.container__button--remove {
  background: url(./../../assets/DeleteContainerIcon.svg);
}

.container__stack {
  position: relative;
  height: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container__button--add {
  cursor: pointer;
  text-align: center;
  font-size: 24px;
  border: dotted 1px #111;
  border-bottom: none;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
}
