.field {
  width: 100%;
  display: flex;
  font-size: 14px;
}

.field__label {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.field > .field__label {
  border: solid 1px #111;
}

.field ~ .field > .field__label {
  border-top: none;
}

.field.merged-hidden:hover,
.field.merged-visible:hover {
  border: groove 1px #111;
  cursor: pointer;
}

.field.merged-visible ~ .mergedFields {
  display: flex;
}

.field__label > p {
  background-color: #fff;
}
.field__label > p > span {
  display: block;
  text-align: center;
  padding: 10px 0;
}

.field__details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80px;
}
.field__details--price {
}
.field__details--percentage {
}

.field__actions.hidden {
  display: none;
}

.field__actions.visible {
  display: flex;
}

.field__button {
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: none;
  background: none;
}
.field__button--edit {
  background: url(./../../assets/EditFieldIcon.svg);
  background-size: contain;
}
.field__button--delete {
  background: url(./../../assets/DeleteFieldIcon.svg);
  background-size: contain;
}
