.container__stackElement {
  width: 100%;
  display: flex;
  font-size: 14px;
}

.container__stackElement--label {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container__stackElement > .container__stackElement--label {
  border: solid 1px #111;
}

.container__stackElement
  ~ .container__stackElement
  > .container__stackElement--label {
  border-top: none;
}

.container__stackElement--label > p {
  background-color: #fff;
}
.container__stackElement--label > p > span {
  display: block;
  text-align: center;
  padding: 10px 0;
}

.container__stackElement:nth-child(2) .container__stackElement--label {
  border-top: solid 1px #111;
}

.container__stackElementDetails {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80px;
}
.container__stackElementDetails--price {
}
.container__stackElementDetails--percentage {
}

.container__stackElement.merged:hover ~ .mergedFields {
  display: flex;
}
