.form {
  position: fixed;
  z-index: 30;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 30px;
  border: solid 1px #111;
}

.form__title {
  margin-bottom: 20px;
}

.form__chest {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__drawer {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.form__label {
}

.form__input {
  border: 1px solid #111;
}

.form__buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 5px;
}

.form__button {
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 12.5px;
}

.form__button--yes {
  background-image: url(./../../assets/YesIcon.svg);
}

.form__button--no {
  background-image: url(./../../assets/NoIcon.svg);
}
