.mergedFields {
  display: none;
  position: absolute;
  flex-direction: column;
  z-index: 10;
  top: 20px;
  background-color: #fff;
  padding: 30px;
  border: solid 1px #111111;
  width: 100%;
  gap: 10px;
}

.mergedFields__box {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.mergedFields__label {
}

.mergedFields__label p {
  background-color: #fff;
}

.mergedFields__percentage {
}

.mergedFields__price {
}
